$light-grey-color: #c5c5c5;    //Цвет используется для линий между элементами 
$grey-color: #9d9d9d;   //Цвет используется для символов и границ элемнтов 
$dark-grey-color: #6e6e6e;   //Цвет используется для символов, котрое не должны быть белыми, но и чёрными тоже
$yellow-color: rgb(209, 216, 0);
$green-color: rgb(69, 189, 69);
$red-color: rgb(254, 60, 60);
$blue-color: rgb(60, 80, 254);
$orange-color: rgb(224, 190, 39);
$indent-from-left-on-card: 200px; //Отстусп  для элмеентов в карточке (с исключением изображения)