$light-grey-color: #c5c5c5;    //Цвет используется для линий между элементами 
$grey-color: #9d9d9d;   //Цвет используется для символов и границ элемнтов 
$dark-grey-color: #6e6e6e;   //Цвет используется для символов, котрое не должны быть белыми, но и чёрными тоже