.auth {
	background-color: aliceblue;
	height: 550px;
	width: 25%;
	margin-left: 37.5%;
	margin-top: 100px;
	border-radius: 20px;

	.auth-logo {
		height: 80px;
		display: flex;
		margin-left: auto;
		justify-content: center;
		margin-top: 30px;

		p {
			margin-left: 10px;
			margin-top: 32px;
			font-size: 30px;
		}
	}

	.reg-log {
		text-align: center;
		padding-top: 36px;

		button {
			width: 27%;
			height: 27px;
			margin-left: 10px;
		}
	}

	.auth-form {
		text-align: center;

		input {
			width: 300px;
			height: 24px;
			margin-top: 20px;
			background-color: aliceblue;
			border-color: transparent transparent black transparent;

			&:focus {
				outline: none;
			}
		}

		button {
			height: 30px;
			width: 200px;
			background-color: rgb(60, 80, 254);
			color: white;
			border-radius: 8px;
			border: none;
		}
	}

	#errorMessage {
		color: red;
		height: 20px;
		text-align: center;
		font-size: 14px;
	}
}
