@import './variabels/colors.scss'; 
$indent-from-left-on-card: 200px;

.booking-list-filters-parameters {
    display: flex;
	height: 80px;
    width: 100%;

	.select-location {
		width: 180px;
        height: 55px;
		font-size: 13px;
		border: none;
		border-radius: 14px;
		padding-top: 4px;
		padding-bottom: 4px;
        padding-left: 12px;
        text-align: left;
        background-color: rgb(244, 244, 244);
        margin-top: 1.5%;

        div {
            margin-top: 2px;
            color: $dark-grey-color;
		    font-size: 13px;

        }
	}

	.change-show-bookings-list {
		display: flex;
		justify-content: center;
		column-gap: 1%;
		height: 80px;
		justify-self: center;
		margin-left: 15px;
		margin-right: 15px;
		margin-top: 10px;
	
		button {
			width: 150px;
			height: 30px;
			border-radius: 20px;
			background-color: white;
			border: none;
			font-size: 14px;
			margin-top: 2.5%;
		}
	
		button:hover:nth-child(1)  {
			background-color: $yellow-color; 
			color: white;
		}
	
		button:hover:nth-child(2)  {
			background-color: $green-color; 
			color: white;
		}
	
		button:hover:nth-child(3)  {
			background-color: $blue-color; 
			color: white;
		}
	}

    
    .filter-and-sort-buttons{
        display: flex;
        justify-content: space-between;
        margin-top: 2.2%;
        margin-left: auto;

        .filter-button {
            height: 40px;
            width: 140px;
            display: flex;
            border: 1px solid $grey-color;
            border-radius: 12px;
            background-color: white;
    
            img {
                height: 45%;
                margin: auto 0 auto 5%;
            }
    
            div {
                margin: auto 0 auto 10px;
                font-size: 13px;
            }
        }
    
        .sort-button{
            height: 40px;
            width: 45px;
            display: flex;
            border: 1px solid $grey-color;
            border-radius: 10px;
            background-color: white;

            img {
                height: 50%;
                margin: auto;
            }
        }
    }
    
}

.bookings-list {
	.booking-card {
		display: block;
		position: relative;
		height: 180px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		border-bottom: 1px solid $light-grey-color;

		.booking-card-img {
			position: absolute;
			height: 180px;
			width: 180px;
			border-radius: 10px;
		}

		.booking-card-name {
			position: absolute;
			font-size: 20px;
			left: $indent-from-left-on-card;
			top: 27px;
		}

		.booking-card-route {
			position: absolute;
			font-size: 14px;
			left: $indent-from-left-on-card;
			top: 55px;
			color: $dark-grey-color;
		}

		.booking-card-department-departure-and-hotle {
			position: absolute;
			font-size: 14px;
			left: $indent-from-left-on-card;
			top: 97px;
			color: $dark-grey-color;
		}

		.booking-card-hotel-stars {
			position: absolute;
			display: flex;
			left: $indent-from-left-on-card;
			top: 137px;

			display: flex;
			column-gap: 8px;

			img {
				height: 18px;
			}
		}

		.tour-card-price {
			b {
				font-size: 24px;
			}
			span {
				font-size: 14px;
			}
			position: absolute;
			right: 0px;
			top: 40%;
		}

		.booking-card-status {
			position: absolute;
			font-size: 13px;
			background-color: $green-color;
			left: $indent-from-left-on-card;
			bottom: 22px;
			height: 22px;
			padding-top: 6px;
			width: 160px;
			text-align: center;
			border-radius: 14px;
			color: white;
		}

		.booking-card-confirmation {
			position: absolute;
			font-size: 14px;
			background-color: $green-color;
			left: 800px;
			bottom: 20px;
			height: 24px;
			padding-top: 8px;
			width: 180px;
			text-align: center;
			border-radius: 14px;
			color: white;
		}

		.booking-card-user-info {
			position: absolute;
			font-size: 15px;
			left: $indent-from-left-on-card;
			bottom: 22px;
			height: 22px;
			padding-top: 6px;
		}

		.booking-card-delete-button {
			position: absolute;
			top: 10px;
			right: 0px;
			width: 35px;
			height: 35px;
			background-color: white;
			border: none;
			z-index: 1009;

			img {
				width: 100%;
			}
		}
	}
}

.booking-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.booking {
	//Вынести
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1002; // На всякий случай
	width: 600px;
	text-align: center;

	.close-modal-editor-button {
		margin-left: 97%;
		width: 20px;
		height: 20px;
		border: none;
		background-color: white;
		padding: 0px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	h2 {
		margin: 0px;
	}

	h3 {
		margin: 5px 0px 0px 10px;
		text-align: left;
		margin-bottom: 5px;
	}

	hr {
		width: 100%;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	input {
		font-size: 16px;
		margin-top: 3px;
		width: 100%;
		height: 35px;
		border: 1px solid $grey-color;
		border-radius: 5px;
	}
	
	select {
		font-size: 18px;
		margin-top: 3px;
		width: 100%;
		height: 40px;
		border: 1px solid $grey-color;
		border-radius: 5px;
	}

	.parameter-name {
		text-align: left;
		font-size: 16px;
		margin-left: 10px;
	}

	.tour-info-on-booking{
		display: flex;
		margin-top: 15px;

		.tour-image-on-booking {
			width: 220px;
			height: 210px;
			border-radius: 10px;
		}

		.tour-text-info-on-booking {
			text-align: left;
			margin-left: 20px;
			margin-top: 20px;
			width: 100%;


			.location-on-booking {
				color: $grey-color;
			}

			.tour-name-on-booking {
				font-size: 20px;
			}

			.hotel-info-on-booking {
				display: flex;
				margin-top: 5px;

				>img {
					margin-left: auto;
					margin-top: auto;
					width: 40px;
					height: 40px;
				}
			}

			.department-departure-info-on-booking {
				display: flex;
				margin-top: 5px;

				>img {
					margin-left: auto;
					margin-top: auto;
					width: 40px;
					height: 40px;
				}
			}
		}
	}

	.dates-and-times-on-booking {
		text-align: left;
		margin-top: 20px;
		
		>div:nth-child(2) {
			margin-top: 5px;
		}
	}

	.room-types-on-booking {
		margin-top: 10px;
		table {
			width: 100%;
			border-collapse: collapse;
			border: none;
		  }
		  
		  th, td {
			border: none;
			padding: 8px;
			text-align: center;
		  }
		  
		  th {
			font-weight: bold;
		  }


		  
		  td:first-child {
			color: gray;
			font-size: 20px;
		  }

		  td:nth-child(1), th:nth-child(1) {
			width: 60px;
			padding-left: 0px;
		  }

		  td:nth-child(2), th:nth-child(2) {
			text-align: left;
			padding-left: 0px;
		  }

		  td:nth-child(3), th:nth-child(3){
			padding-left: 0px;
			padding-right: 0px;
			width: 170px;
		  }

		  td:nth-child(4), th:nth-child(4) {
			padding-left: 0px;
			padding-right: 0px;
			width: 46px;
		  }

		
		 .room-types-number-on-booking {
			display: flex;
			align-items: center;
			justify-content: center;

			button {
				border: none;
				background-color: red;
				border-radius: 100%;
				padding: 0px;
				cursor: pointer;
				color: white;
				height: 20px;
				width: 20px;
				font-size: 20px;
			}
			
			.add-room-type-button {
				background-color: $green-color;
			  }
	
			.remove-room-type-button {
				background-color: $red-color;
				margin-left: 5px;
			}
	
			input {
				margin-left: 10px;
				width: 60px;
				height: 25px;
				text-align: center;
				font-size: 14px;
				border: none;
				border-bottom: 1px solid black;
			  }
		  }
		  
		  .room-type-price {
			font-weight: bold;
		  }
	}

	.order-seat-on-booking {
		text-align: left;
		margin-top: 20px;
		font-size: 18px;
	}

	.more-booking-info {
		margin-top: 10px;
		text-align: left;

		.show-comment-button {
			color: $grey-color;
			margin-top: 5px;
		}
	}

	.price-on-booking {
		font-size: 16px;
		b {
			font-size: 18px;
		}

		.edit-price-button {
			font-size: 18px;
		}
	}

	.status-info {
		margin-top: 10px;
		color: $green-color;
	}

	.user-info-on-booking {
		display: flex;
		margin-top: 3px;
		
		.user-avatar-on-booking {
			width: 40px;
			height: 40px;
			border-radius: 100%;
		}

		
		>div {
			margin-top: 10px;
			margin-left: 15px;
			font-size: 17px;
		}
	}

	.modal-editor-controller{
		//Вынести
		display: flex;
		justify-content: space-between;
		margin-top: 7px;

		>button {
			height: 45px;
			font-size: 17px;
		}

		>button:nth-child(1) {
			background-color: white;
			border: none;
		}

		>button:nth-child(2) {
			width: 240px;
			color: white;
			background-color: black;
			border: none;
			border-radius: 20px;
		}
	}
}

.booking-filters {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1002; // На всякий случай
	width: 600px;
	text-align: center;
	font-size: 18px;

	.close-filters-button {
		margin-left: 97%;
		width: 20px;
		height: 20px;
		border: none;
		background-color: white;
		padding: 0px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	h2 {
		margin: 0px;
	}

	h3 {
		margin: 5px 0px 0px 10px;
		text-align: left;
		margin-bottom: 5px;
	}

	hr {
		width: 100%;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	input {
		font-size: 16px;
		margin-top: 3px;
		width: 100%;
		height: 35px;
		border: 1px solid $grey-color;
		border-radius: 5px;
	}
	
	select {
		font-size: 18px;
		margin-top: 3px;
		width: 100%;
		height: 40px;
		border: 1px solid $grey-color;
		border-radius: 5px;
	}

	.parameter-name {
		text-align: left;
		font-size: 16px;
		margin-left: 10px;
	}
	
	.route-direction-dates-and-times {
		.route-direction-date-and-time {
			display: flex;
			justify-content: space-between;
			margin-top: 10px;

			>div:nth-child(1) {
				width: 45%;
			}

			>div:nth-child(2) {
				width: 45%;
			}
		}
	}

	.tour-filters {
		margin-top: 20px;
		margin-bottom: 15px;
		font-size: 16px;

		.max-min-price-filter {
			display: flex;
			width: 100%;
			justify-content: center;
			gap: 5%;

			.max-min-price-filter-input {
				width: 50%;
			}
		}
	

		.hotel-stars-filter {
			margin-top: 15px;
			text-align: left;
			font-size: 17px;
			
			>div {
				display: flex;
				padding-left: 5px;
				height: 30px;
				
				>label {
					width: 18%;
					margin-top: 5px;
				}
			}
	
			>div:nth-child(2) {
				margin-top: 4px;
			}
		}
	}

	.nutrition-filter {
		text-align: left;
		margin-top: 8px;	
		padding-left: 5px;
		font-size: 17px;

		.nutrition-filter-header {
			margin-left: 8px;
		}

		.nutrition-filter-select {
			width: 100%;
			margin-top: 2px;
		}
	}

	.characteristics-filters {
		display: grid;
		grid-template-columns: 1fr repeat(3, 100px);
		gap: 10px;
		max-width: 600px;
		max-height: 300px;
		background: white;
		padding: 10px 20px 10px 20px;
		overflow-y: auto;
		scrollbar-width: thin;
		scrollbar-color: $light-grey-color transparent;
		font-size: 17px;

		div {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.characteristic-filter {
			justify-content: start;
			text-align: left;
			font-weight: 500;
		}

		.heading-filters {
			font-weight: bold;
			text-align: center;
		}

		input[type="radio"] {
			accent-color: blue; /* Цвет для активного радио-кнопки */
		}
	}

	.filter-controllers {
		display: flex;
		justify-content: space-between;

		>button {
			height: 45px;
			font-size: 17px;
		}

		>button:nth-child(1) {
			background-color: white;
			border: none;
		}

		>button:nth-child(2) {
			width: 240px;
			color: white;
			background-color: black;
			border: none;
			border-radius: 20px;
		}
	}
	
}