@import './components/current-and-past-bookings.scss'; 
$indent-from-left-booking: 200px;

.change-show-bookings-list {
	display: flex;
	justify-content: center;
	column-gap: 2%;
	height: 80px;
	justify-self: center;

	button {
		width: 160px;
		height: 30px;
		border-radius: 20px;
		background-color: white;
		border: none;
		font-size: 14px;
		margin-top: 2.5%;
	}

	button:hover:nth-child(1)  {
		background-color: rgb(209, 216, 0); 
		color: white;
	}

	button:hover:nth-child(2)  {
		background-color: rgb(69, 189, 69); 
		color: white;
	}

	button:hover:nth-child(3)  {
		background-color: rgb(60, 80, 254); 
		color: white;
	}

	button:hover:nth-child(4)  {
		background-color: rgb(224, 190, 39); 
		color: white;
	}
}

.bookings-list {
	.booking-card {
		.booking-card-status {
			position: absolute;
			font-size: 13px;
			background-color: rgb(69, 189, 69);
			left: $indent-from-left-booking;
			bottom: 22px;
			height: 22px;
			padding-top: 6px;
			width: 160px;
			text-align: center;
			border-radius: 14px;
			color: white;
		}

		.booking-card-delete-button {
			position: absolute;
			top: 10px;
			right: 0px;
			width: 35px;
			height: 35px;
			background-color: white;
			border: none;
			z-index: 1001;

			img {
				width: 100%;
			}
		}
	}
}
