@import './variabels/colors.scss';

.vertical-list-page {
    padding-right: 8%;
    padding-left: 8%;
}


.country {
	padding-right: 8%;
    padding-left: 8%;

	.country-flag-and-name {
		display: flex;
	
		.country-editor-flag {
			width: 100px;
			margin-top: 15px;
			border: 1px solid rgb(230, 230, 230);
		}
		
		.country-name {
			margin-left: 20px;
			width: 550px;
			margin-top: 35px;
			font-size: 24px;
		}
	
		.country-editor-map {
			margin-left: 16px;
			width: 40px;
			height: 40px;
			margin-top: 40px;
		}
	}

	.country-info {
		margin-top: 15px;

		>div:nth-child(2) {
			margin-top: 5px;
		}
			
	}

	.country-desription {
		margin-top: 10px;
		text-align: justify;
		font-size: 16px;
		line-height: 25px;
	}
	
	.country-map {
		height: 365px;
		width: 100%;
		margin-top: 20px;
		border-radius: 10px;
	}
	
	.cities{
		width: 100%;
		margin-top: 24px;


		.cities-list {
			border-bottom: 1px solid $grey-color;
			margin-top: 10px;

			.city-card {
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 18px;
				width: 100%;
				border-top: 1px solid $grey-color;
				display: flex;

				b {
					margin-left: 20px;
				}
			}
		}
	}
}