@import './variabels/colors.scss'; 
$indent-from-top-main-filter: 13px;

@mixin main-filter($width) {
	width: $width;
	text-align: left;
	padding-top: $indent-from-top-main-filter;
}

body {
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Arial', sans-serif;
}

a {
	text-decoration: none;
	color: #000000;
}

a:visited {
	color: #000000;
}

//---------------------------------------------------------------------------------------------------------

header {
	display: flex;
	justify-content: space-between;
	height: 155px;

	.logo-href {
		height: 75px;
		width: 80px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	.info-and-main-filters {
		width: 72%;
		text-align: center;

		.info-href {
			display: flex;
			justify-content: space-between;
			width: 33%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 22px;
			font-size: 16px;
		}
	
		.main-filters {
			width: 100%;
			height: 60px;
			border: 1px solid $grey-color;
			border-radius: 32px;
			margin-top: 30px;
			box-shadow: 3px 3px 3px $grey-color;
			display: flex;
			font-size: 12px;
	
			.input-route {
				@include main-filter(30%);
				border-radius: 32px 0px 0px 32px;
		
				>div {
					width: 87%; /*Делаем отступ 13% и ширину 87% от контейнера, тем самы освобождаем место перед элемент и элемент не вылазит за другой*/
					margin-left: 13%;
		
					&:nth-child(2) {
						margin-top: 5px;
						color: $grey-color;
						
					}
				}
			}

			.input-route:hover {
				background-color: rgb(217, 217, 217);
			}

			.input-departure {
				@include main-filter(24%);
				
				div {
					margin-left: 8%;
				}

				select {
					margin-left: 6%;
					margin-top: 5px;
					border: none;
					color: $grey-color;
					font-size: 14px;
				}
			}
		
			.input-date {
				@include main-filter(15%);
		
				div {
					width: 90%; /*Делаем отступ 13% и ширину 87% от контейнера, тем самы освобождаем место перед элемент и элемент не вылазит за другой*/
					margin-left: 10%;
				}
		
				input {
					width: 80%; /*Делаем отступ 13% и ширину 87% от контейнера, тем самы освобождаем место перед элемент и элемент не вылазит за другой*/
					margin-left: 8%;
					border: none;
					margin-top: 3px;
					color: $grey-color;
					font-size: 14px;
				}
			}
		
			.input-transport {
				@include main-filter(20%);

				div {
					margin-left: 8%;
				}

				select {
					margin-left: 6%;
					margin-top: 5px;
					border: none;
					color: $grey-color;
					font-size: 14px;
				}
			}
		
			.search-by-main-filters {
				width: 50px;
				height: 45px;
				border-radius: 100%;
				background-color: rgb(66, 219, 132);
				border: none;
				margin-top: auto;
				margin-bottom: auto;
				margin-right: 8px;
		
				img {
					width: 60%;
					height: 60%;
					margin-top: 3px;
				}
			}
		}
	}

	.user-controller {
		.user-button {
			width: 50px;
			height: 50px;
			background: none;
			border: none;
			font-size: 12px;
		}

		.user-menu {
			position: absolute;
			top: 60px;
			right: 0px;
			background-color: white;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
			border-radius: 10px;
			padding: 10px;
			z-index: 1002;

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;

				li {
					padding: 10px 0;
					cursor: pointer;

					a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}
		}
	}
}

.line-under-header {
	position: absolute;
	width: 100%;
	left: 0px;
	border-bottom: 1px solid $light-grey-color;
}

.narrow-conteiner {
	padding-left: 8%;
	padding-right: 8%;
}

.directions-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; // Модальное окно впереди всех элементов
}

.directions {
	position: absolute;
	width: 24.8%; //24%  без скрола
	height: 500px;
	border-radius: 20px;
	border: 1px solid $grey-color;
	background-color: white;
	z-index: 1002;
	left: 18.7%;
	top: 20.5%;
	padding: 1.5%;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: $light-grey-color transparent;

    // /* Стилизация скроллбара */
    // ::-webkit-scrollbar {
    //     width: 4px; // Ширина скроллбара
    // }

    // ::-webkit-scrollbar-track {
    //     background: transparent; // Прозрачный фон для трека скроллбара
    // }

    // ::-webkit-scrollbar-thumb {
    //     background-color: black; // Чёрная полоска
    //     border-radius: 10px; // Закругленные края
    // }

	>div {
		width: 100%;
		height: 100%;
		
		.geographic-area {
			text-align: left;
			font-size: 14px;
		}

		.regions {
			display: flex;
			flex-wrap: wrap;
			margin-top: 10px;


			.region {	
				// padding: 0% 1% 0% 1%;
				padding: 8px 8px 8px 7px;
				width: 29%;
				height: 29%;
				border-radius: 16px;
				text-align: center;

				img {
					width: 100%;
					height: 70%;
					border: 1px solid $grey-color;
					border-radius: 14px;
				}

				div {
					margin-top: 3px;
					font-size: 13px;

				}
			}

			.region:hover {
				background-color: rgb(217, 217, 217);
			}
		}
	}
}