@import './variabels/colors.scss'; 
$indent-from-top-main-filter: 12px;

@mixin main-filter($width) {
	width: $width;
	text-align: left;
	padding-top: $indent-from-top-main-filter;
}

@mixin direction() {
	position: absolute;
	border-radius: 20px;
	border: 1px solid $grey-color;
	background-color: white;
	z-index: 1002;
	left: 18.7%;
	top: 20.5%;
	padding: 1.5%;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: $light-grey-color transparent;

	>div {
		width: 100%;
		height: 100%;
		
		.geographic-area {
			text-align: left;
			font-size: 14px;
		}
	}
}

body {
	padding-left: 5%;
	padding-right: 5%;
	font-family: 'Arial', sans-serif;
}

a {
	text-decoration: none;
	color: #000000;
}

a:visited {
	color: #000000;
}

//---------------------------------------------------------------------------------------------------------

header {
	display: flex;
	justify-content: space-between;
	height: 145px;
	margin-top: 32px;

	.logo-href {
		height: 75px;
		width: 80px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	.info-and-main-filters {
		width: 72%;
		text-align: center;

		.info-href {
			display: flex;
			justify-content: space-between;
			width: 33%;
			margin-left: auto;
			margin-right: auto;
			margin-top: 16px;
			font-size: 16px;
		}
	
		.main-filters {
			width: 100%;
			height: 60px;
			border: 1px solid $grey-color;
			border-radius: 32px;
			margin-top: 24px;
			box-shadow: 3px 3px 3px $grey-color;
			font-size: 12px;
			display: flex;
	
			.input-route {
				@include main-filter(22%);
				border-radius: 32px 0px 0px 32px;

				>div {
					margin-left: 16%;

					&:nth-child(2) {
						margin-top: 5px;
						color: $grey-color;
						
					}
				}
			}

			.input-route:hover {
				background-color: rgb(217, 217, 217);
			}

			.input-departure {
				@include main-filter(16%);
				
				div {
					margin-left: 10%;
				}

				select {
					margin-left: 7%;
					margin-top: 5px;
					border: none;
					color: $grey-color;
					font-size: 14px;
				}
			}
			
			.input-dates {
				@include main-filter(25%);

				padding-top: $indent-from-top-main-filter - 2px;

				.input-date {
					display: flex;
					margin-left: 5%;
					width: 100%;
					height: 16px;

					div {
						padding-top: 2px;
					}
					
					input {
						margin-left:10px;
						border: none;
						margin-top: 3px;
						color: $grey-color;
						font-size: 14px;

					}

					&:nth-child(1) {
						input {
							margin-left: 17px;
						}
					}

					&:nth-child(2) {
						margin-top: 5px;
					}
				}
			
			}
			
			.input-transport {
				@include main-filter(12%);

				div {
					margin-left: 10%;
				}

				select {
					margin-left: 7%;
					margin-top: 5px;
					border: none;
					color: $grey-color;
					font-size: 14px;
				}
			}
			
			.inputs-number-seats-and-days {
				@include main-filter(16%);

				// .input-number-seats-or-days {
				// 	display: flex;
				// 	justify-content: space-between;

				// 	input {
				// 		height: 16px;
				// 		margin-right: 10px;
				// 		width: 40%;
				// 	}
				// }

				padding-top: $indent-from-top-main-filter - 2px;

				.input-number-seats-or-days {
					display: flex;
				 	justify-content: left;
					height: 16px;
					column-gap: 8%;

					div {
						padding-top: 2px;
						margin-left: 8%;
					}
					
					input {
						width: 25%;

						border: none;
						border-bottom: 1px solid gray;
					}

					&:nth-child(2) {
						margin-top: 5px;
					}
				}
			}

			.search-by-main-filters {
				width: 50px;
				height: 45px;
				border-radius: 100%;
				background-color: rgb(66, 219, 132);
				border: none;
				margin-top: auto;
				margin-bottom: auto;
				margin-right: 8px;
		
				img {
					width: 60%;
					height: 60%;
					margin-top: 3px;
				}
			}
		}
	}

	.header-search-input-and-add-button {
		width: 65%;
		margin-top: 40px;
		padding-left: 10%;
		display: flex;

		input {
			width: 84%;
			border: none;
			border-bottom: 2px solid rgb(96, 96, 96);
			font-size: 18px;
			padding-left: 8px;
			height: 25px;
		}

		button {
			margin-left: 2%;
			height: 32px;
			width: 120px;
			font-size: 12px;
			background-color: rgb(60, 80, 254);
			border-radius: 8px;
			border: none;

			b {
				color: white;
			}
		}
	}

	.user-controller {
		.user-button {
			width: 50px;
			height: 50px;
			background: none;
			border: none;
			font-size: 12px;

			img {
				width: 100%;
				border-radius: 100%;
			}
		}

	}
}

.line-under-header {
	position: absolute;
	width: 100%;
	left: 0px;
	border-bottom: 1px solid $light-grey-color;
}

.narrow-conteiner {
	padding-left: 8%;
	padding-right: 8%;
}

.directions-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; // Модальное окно впереди всех элементов
}

.regions {
	width: 24.8%; //24%  без скрола
	height: 500px;
	@include direction();

	>div {
		.regions-list {
			display: flex;
			flex-wrap: wrap;
			margin-top: 10px;

			.region {	
				border: none;
				background-color: white;
				// padding: 0% 1% 0% 1%;
				padding: 8px 8px 8px 7px;
				width: 29%;
				height: 29%;
				border-radius: 16px;
				text-align: center;

				img {
					width: 100%;
					height: 70%;
					border: 1px solid $grey-color;
					border-radius: 14px;
				}

				div {
					margin-top: 3px;
					font-size: 13px;
				}
			}

			.region:hover {
				background-color: rgb(217, 217, 217);
			}
		}
	}
}

.countries {
	width: 61.2%; //24%  без скрола
	height: 333px;
	@include direction();

	>div {
		.countries-list {
			display: flex;
			flex-wrap: wrap;
			margin-top: 15px;
			column-gap: 2.2%;
			row-gap: 20px;
			padding-left: 10px;
			padding-right: 10px;

			.counrty {	
				border: none;
				background-color: white;
				// padding: 0% 1% 0% 1%;
				padding: 8px 8px 8px 7px;
				width: 80px;
				height: 70px;
				border-radius: 16px;
				text-align: center;

				img {
					width: 100%;
					height: 70%;
					border: 1px solid $grey-color;
					border-radius: 10px;
				}

				div {
					margin-top: 3px;
					font-size: 13px;

				}
			}

			.counrty:hover {
				background-color: rgb(217, 217, 217);
			}
		}
	}
}

.cities-or-hotels {
	width: 18%; //24%  без скрола
	height: 333px;
	@include direction();

	>div {
		.cities-or-hotels-list {
			display: flex;
			flex-wrap: wrap;
			margin-top: 10px;
			

			.city-or-hotel {	
				text-align: left;
				padding: 16px 16px 16px 8px;
				width: 100%;
				font-size: 16px;
				border-radius: 12px;
			}

			.city-or-hotel:hover {
				background-color: rgb(217, 217, 217);
			}
		}
	}
}

.main-nav-menu {
	background-color: rgb(38, 171, 253);
	height: 22px;
	position: absolute;
	width: 100%;
	left: 0px;
	top: 0px;
	// padding-left: 7%;
	text-align: center;
	padding-top: 4px;

	a:nth-child(1) {
		margin-left: 0px;
	}

	a {
		font-size: 14px;
		margin-left: 3%;
		color: white;
	}
}

.modal-image-gallery {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.849); // Затемнение фона
	justify-content: center;
	z-index: 1000; // Модальное окно впереди всех элементов
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: rgb(66, 66, 66) transparent;

	.image-gallery {
		width: 75%;
		text-align: center;
		
		.showed-image {
			margin-top: 50px;
			height: 70%;
			width: 100%;
			display: flex;
			justify-content: center;

			img {
				height: 100%;
			}

			.arrow-navigation-image-gallery {
				color: grey;
				font-size: 42px;
				margin-top: 20%;
			}
		}
		
		// .showed-image {
		// 	margin-top: 50px;
		// 	height: 70%;
		// }
		
		.image-gallery-list {
			display: flex;
			gap: 10px;
			flex-wrap: wrap;
			text-align: center;
			justify-content: center;
			margin-top: 20px;
		

			img {
				height: 80px;
				width: 80px;
			}
			
		}

		.image-gallery-delete-button {
			position: absolute;
			color: $dark-grey-color;
			left: 97%;
			top: 92%;
			font-size: 40px
		}
	}
	
}

.removed-images-menu-modal {
	display: flex;
	justify-content: center;
	align-items: center;

	.removed-images-menu {
		background-color: white;
		padding: 20px;
		border-radius: 8px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		z-index: 1002; // На всякий случай
		width: 630px;
		text-align: center;
		max-height: 730px;

		.close-edit-route-menu-button {
			margin-left: 97%;
			width: 20px;
			height: 20px;
			border: none;
			background-color: white;
			padding: 0px;
	
			img {
				width: 100%;
				height: 100%;
			}
		}
	
		h2 {
			margin: 0px;
		}
	
		h3 {
			margin: 5px 0px 0px 10px;
			text-align: left;
			margin-bottom: 5px;
		}
	
		hr {
			width: 100%;
			margin-bottom: 0px;
			margin-top: 0px;
		}
	
		input {
			font-size: 16px;
			margin-top: 3px;
			width: 100%;
			height: 35px;
			border: 1px solid $grey-color;
			border-radius: 5px;
		}
		
		select {
			font-size: 18px;
			margin-top: 3px;
			width: 100%;
			height: 40px;
			border: 1px solid $grey-color;
			border-radius: 5px;
		}
	
		.parameter-name {
			text-align: left;
			font-size: 16px;
			margin-left: 10px;
		}
	
		.removed-images-list {
			margin-top: 20px;
			display: flex;
			column-gap: 2.5%;
			row-gap: 20px;
			flex-wrap: wrap;
			max-height: 530px;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: $light-grey-color transparent;

			>img {
				width: 300px;
				height: 225px;
				border-radius: 3px;
			}
		}
	
		.room-type-editor-controller{
			display: flex;
			justify-content: space-between;
			margin-top: 7px;
			

			>button {
				height: 45px;
				font-size: 17px;
			}
	
			>button:nth-child(1) {
				background-color: white;
				border: none;
			}
	
			>button:nth-child(2) {
				width: 240px;
				color: white;
				background-color: black;
				border: none;
				border-radius: 20px;
			}
		}
	}
}