@import './variabels/colors.scss';

.vertical-list-page {
    padding-right: 8%;
    padding-left: 8%;
}

.geographic-object-editor-parametrs {
    display: flex;
	height: 80px;
    width: 100%;
    
    .back-to-regions-arrow {
        width: 50px;
        height: 50px;
        margin-top: 18px;
    }

    .geographic-object-editor-image  {
        width: 60px;
        height: 60px;
        margin-top: 15px;
        margin-left: 15px;
    }

    .geographic-object-editor-name {
        margin-left: 16px;
        width: 400px;
        margin-top: 30px;
		font-size: 18px;
    }

    .geographic-object-editor-map {
        margin-left: 20px;
        margin-top: 20px;
        width: 40px;
        height: 40px;
    }

    .save-region-button {
        height: 30px;
        background-color: $green-color;
        color: white;
        border: none;
        width: 200px;
        border-radius: 10px;
        margin-top: 25px;
        margin-left: 50px;
    }

    .sort-button{
        height: 40px;
        width: 45px;
        display: flex;
        border: 1px solid $grey-color;
        border-radius: 10px;
        background-color: white;
        margin-top: 25px;
        margin-left: auto;

        img {
            height: 50%;
            margin: auto;
        }
    }
    
}

.geographic-objects-list {
	.geographic-object-card {
		display: block;
		position: relative;
		height: 140px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		border-bottom: 1px solid $light-grey-color;

		.geographic-object-card-img {
			position: absolute;
			height: 140px;
			width: 140px;
			border-radius: 10px;
			border: 1px solid rgb(236, 236, 236);
		}

		.geographic-object-card-name {
			position: absolute;
			font-size: 20px;
			left: $indent-from-left-on-card - 40px;
			top: 40px;
		}

		.geographic-object-card-delete-button {
			position: absolute;
			top: 10px;
			right: 0px;
			width: 35px;
			height: 35px;
			background-color: white;
			border: none;
			z-index: 1001;

			img {
				width: 100%;
			}
		}
	}

    .country-card {
		display: block;
		position: relative;
		height: 90px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		border-bottom: 1px solid $light-grey-color;

		.country-card-img {
			position: absolute;
			height: 90px;
			width: 140px;
			border-radius: 10px;
		}

		.country-card-name {
			position: absolute;
			font-size: 20px;
			left: $indent-from-left-on-card - 40px;
			top: 40px;
		}

		.country-card-delete-button {
			position: absolute;
			top: 10px;
			right: 0px;
			width: 35px;
			height: 35px;
			background-color: white;
			border: none;
			z-index: 1001;

			img {
				width: 100%;
			}
		}
	}
}

.city-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.city-editor {
	//Вынести
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1002; // На всякий случай
	width: 600px;
	text-align: center;

	.close-modal-editor-button {
		margin-left: 97%;
		width: 20px;
		height: 20px;
		border: none;
		background-color: white;
		padding: 0px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	h2 {
		margin: 0px;
	}

	h3 {
		margin: 5px 0px 0px 10px;
		text-align: left;
		margin-bottom: 5px;
	}

	hr {
		width: 100%;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	.parameter-name {
		text-align: left;
		font-size: 16px;
		margin-left: 10px;
	}

	.city-editor-info{
		display: flex;
		margin-top: 25px;
	
		.city-editor-name-input {
			// margin-left: 16px;
			width: 100%;
			font-size: 18px;
		}

		.city-editor-map {
			margin-left: 16px;
			width: 40px;
			height: 40px;
			margin-top: 8px;
		}
	}

	.city-editor-climate {
		margin-top: 20px;
		text-align: justify;

		.city-editor-climate-select {
			height: 40px;
			width: 100%;
			margin-top: 3px;
			font-size: 16px;
		}
	}

	.city-editor-desription {
		margin-top: 10px;
		text-align: justify;
		font-size: 16px;
		line-height: 25px;
	
		.city-editor-desription-input {
			font-size: 16px;
			width: 100%;
		}
	}

	.city-editor-landmarks {
		margin-top: 20px;

		>div {
			padding: 5px;
			display: flex;
			column-gap: 10px;
			row-gap: 5px;
			flex-wrap: wrap;

			.city-editor-landmark {
				background-color: $green-color;
				padding: 5px 8px 5px 12px;
				border-radius: 16px;
				color: white;
				display: flex;

				.remove-city-landmark-button {
					font-size: 19px;
					margin-left: 6px;
				}
			}
		}
	}

	.modal-editor-controller{
		//Вынести
		display: flex;
		justify-content: space-between;
		margin-top: 10px;

		>button {
			height: 45px;
			font-size: 17px;
		}

		>button:nth-child(1) {
			background-color: white;
			border: none;
		}

		>button:nth-child(2) {
			width: 240px;
			color: white;
			background-color: black;
			border: none;
			border-radius: 20px;
		}
	}
}

.country-editor {
	display: flex;

	.country {
		border-right: 1px solid black;
		width: 70%;
		padding-right: 30px;

		.country-editor-info{
			display: flex;
	
			.country-editor-flag {
				width: 100px;
				margin-top: 15px;
				border: 1px solid rgb(230, 230, 230);
			}
		
			.country-editor-name-input {
				margin-left: 16px;
				width: 500px;
				margin-top: 45px;
				font-size: 18px;
			}
	
			.country-editor-map {
				margin-left: 16px;
				width: 40px;
				height: 40px;
				margin-top: 40px;
			}
		}

		.country-editor-region {
			margin-top: 10px;
			text-align: justify;
	
			.country-editor-region-select {
				width: 100%;
				margin-top: 3px;
				font-size: 16px;
			}
		}

		.country-editor-level-of-developments {
			margin-top: 5px;
		}
	
		.country-editor-desription {
			margin-top: 10px;
			text-align: justify;
			font-size: 16px;
			line-height: 25px;
		
			.country-editor-desription-input {
				font-size: 16px;
				width: 100%;
			}
		}
	
		.save-country-button {
			margin-top: 15px;
			width: 100%;
		}
	}
	
	.cities{
		width: 100%;

		.cities-list {
			height: 450px;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: $light-grey-color transparent;
	
			.city-card {
				padding-top: 10px;
				padding-bottom: 10px;
				font-size: 18px;
				width: 100%;
				border-bottom: 1px solid black;
				display: flex;

				>b {
					margin-left: 20px;
				}

				.delete-city-button {
					margin-left: auto;
				}
			}
		}
		
		.add-city-button {
			width: 36px;
			height: 36px;
			margin-left: 16px;
			margin-top: 5px;
		}
	}
	

	
}