@import './components/current-and-past-bookings.scss'; 
$margin-from-left-booking: 200px;

.user-statistic-of-tours {
	display: flex;
	justify-content: center;
	column-gap: 10%;
	height: 80px;
	width: 100%;
	
	>div {
		margin-top: 35px;
		font-size: 16px;

		span {
			font-size: 10px;
		}
	}
}