@import './components/current-and-past-bookings.scss'; 
$margin-from-left-booking: 200px;

.user-statistic-of-tours {
	display: flex;
	justify-content: center;
	column-gap: 2%;
	height: 80px;
	justify-self: center;

	button {
		width: 160px;
		height: 30px;
		border-radius: 20px;
		border: none;
		background-color: rgb(224, 190, 39);
		color: white;
		font-size: 14px;
		margin-top: 2.5%;
	}
}