@import './variabels/colors.scss';
$indent-from-left-booking: 200px;
$margin-from-left-booking: 200px;

.vertical-list-page {
    padding-right: 8%;
    padding-left: 8%;
}

.hotels-filters-parametrs {
    display: flex;
	height: 80px;
    width: 100%;

	.select-hotel-place {
		width: 230px;
        height: 55px;
		font-size: 13px;
		border: 1px solid black;
		border-radius: 14px;
		padding-top: 4px;
		padding-bottom: 4px;
        padding-left: 12px;
        text-align: left;
        background-color: rgb(244, 244, 244);
        margin-top: 1.5%;

        div {
            margin-top: 2px;
            color: $dark-grey-color;
		    font-size: 13px;

        }
	}

    .hotels-stars-filters-parametr {
		text-align: left;
		font-size: 14px;
		width: 200px;
        margin-top: 2.2%;
        margin-left: 3%;

		>div {
			display: flex;
				
			label {
                margin-top: 1px;
                width: 45%;
			}

            &:nth-child(2){
                margin-top: 2px;
            }
		}
    }

    .hotels-sort-parametrs {
        display: flex;
        margin-top: 2.2%;
        font-size: 14px;

        span {
            margin-top: 2px;
        }

        >div {
            margin-left: 6px;

            select {
                width: 230px;
                height: 24px;
                border-radius: 8px;
                font-size: 14px;
            }

            >div {
                margin-top: 4px;
                margin-left: 4px;
                font-size: 13px;
                display: flex;
                column-gap: 4%;

                >div {
                    display: flex;
                }

                input {
                    margin: 0;
                    margin-left: 2px;
                }
            }
        }
        
    }


    .filter-and-sort-buttons{
        display: flex;
        width: 190px;
        justify-content: space-between;
        margin-top: 2.2%;
        margin-left: auto;
        .filter-button {
            height: 40px;
            width: 140px;
            display: flex;
            border: 1px solid $grey-color;
            border-radius: 12px;
            background-color: white;
    
            img {
                height: 45%;
                margin: auto 0 auto 5%;
            }
    
            div {
                margin: auto 0 auto 10px;
                font-size: 13px;
            }
        }
    
        .sort-button{
            height: 40px;
            width: 45px;
            display: flex;
            border: 1px solid $grey-color;
            border-radius: 10px;
            background-color: white;

            img {
                height: 50%;
                margin: auto;
            }
        }
    }
    
}

.hotels-for-editor-list {
	.hotel-for-editor-card {
		display: block;
		position: relative;
		height: 180px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		border-bottom: 1px solid $light-grey-color;

		.hotel-for-editor-card-img {
			position: absolute;
			height: 180px;
			width: 180px;
			border-radius: 10px;
		}

		.hotel-for-editor-card-name {
			position: absolute;
			font-size: 20px;
			left: $margin-from-left-booking;
			top: 27px;
		}

		.hotel-for-editor-card-loacation {
			position: absolute;
			font-size: 16px;
			left: $margin-from-left-booking;
			top: 82px;
			color: $dark-grey-color;
		}

        .hotel-for-editor-card-address {
            position: absolute;
			font-size: 16px;
			left: $margin-from-left-booking;
			top: 100px;
			color: $dark-grey-color;
        }

		.hotel-for-editor-card-stars {
			position: absolute;
			left: $margin-from-left-booking - 3px;
			top: 120px;
            font-size: 20px;
        }

		.hotel-for-editor-card-delete-button {
			position: absolute;
			top: 10px;
			right: 0px;
			width: 35px;
			height: 35px;
			background-color: white;
			border: none;
			z-index: 1001;

			img {
				width: 100%;
			}
		}
	}
}