@import './components/info.scss'; 

.payment-info {
    display: flex;
    margin-top: 2%;

    >div {
        width: 60%;

        div {
            text-align: justify;
        }
    }

    img {
        width: 27%;
        width: 27%;
        margin-left: 13%;
    }
}