@import './mixins/tour-type.scss';
@mixin weaher-card () {
	>div:nth-child(1) {
		display: flex;
		flex-wrap: wrap;
		column-gap: 4%;
		row-gap: 30px;
		width: 100%;
		justify-content: center;

		button {
			width: 200px;
			height: 160px;
			border: none;
			padding: 0;
			border-radius: $month-border-radius;

			> div:nth-child(1) {
				width: 100%;
				height: 80%;
				border-radius: $month-border-radius $month-border-radius 0px 0px;

				img {
					border-radius: $month-border-radius $month-border-radius 0px 0px;
					width: 100%;
					height: 100%;
				}
			}

			> div:nth-child(2) {
				width: 100%;
				height: 30px;
				border: none;
				font-size: 18px;
				color: white;
				padding-top: 8px;
				border-radius: 0px 0px $month-border-radius $month-border-radius;
			}
		}
	}
}

$month-border-radius: 12px;

#question {
	text-align: center;
	margin-top: 3%;
	font-size: 24px;
}

.months {
	margin-top: 2%;
	@include weaher-card();

	.month:nth-child(-n + 4) .month-name {
		background-color: green;
	}

	.month:nth-child(n + 5):nth-child(-n + 8) .month-name {
		background-color: red;
	}

	.month:nth-child(n + 9):nth-child(-n + 12) .month-name {
		background-color: orange;
	}
}

.temperatures {
	@include weaher-card();
	margin-top: 12%;

	.temperature:nth-child(1) .temperature-name {
		background-color: rgb(60, 80, 254);
	}

	.temperature:nth-child(2) .temperature-name {
		background-color: rgb(69, 189, 69);
	}

	.temperature:nth-child(3) .temperature-name {
		background-color: orange;
	}

	.temperature:nth-child(4) .temperature-name {
		background-color: red;
	}
}

.tour-types {
	>div:nth-child(1) {
		margin-top: 2%;
		display: flex;
		flex-wrap: wrap;
		column-gap: 4%;
		row-gap: 30px;
		width: 100%;
		justify-content: center;
		margin-top: 115px;

		
		.tour-type {
			@include tour-type(180px, 20px, 20px);
		}
	}
}

.question-buttons {
	text-align: center;
	padding-top: 60px;
	

	button:nth-of-type(1) {
		height: 40px;
		font-size: 14px;
		color: white;

		width: 160px;
		border-radius: 20px;
		background-color: rgb(60, 80, 254);
		border: none;
	}

	button:nth-of-type(2) {
		height: 40px;
		font-size: 14px;
		color: white;

		width: 160px;
		border-radius: 20px;
		background-color: rgb(69, 189, 69);
		border: none;
	}
}
