@import './variabels/colors.scss';

.tour-name-and-mark {
	display: flex;
	height: 70px;

	p {
		font-size: 22px;
	}

	div {
		font-size: 16px;
		margin-left: auto;
		margin-top: 1%;
		padding: 10px 16px 8px 16px;
		height: 30%;
		color: white;
		border-radius: 8px;
	}
}

.tour-images {
	height: 375px;
	display: flex;
	width: 47%;

	.main-tour-img {
		width: 100%;
		height: 100%;
		border-radius: 15px;
	}

	.other-tour-images-and-map {
		margin-left: 3%;
		width: 50%;

		.select-tour-images-or-map {
			width: 100%;
			display: flex;
			column-gap: 1.5%;

			button {
				height: 35px;
				width: 100px;
				border-radius: 10px;
			}
		}

		.other-tour-images {
			width: 100%;
			height: 80%;
			padding-top: 18px;
			display: flex;
			flex-wrap: wrap;
			column-gap: 1.7%;
			align-items: stretch;

			img {
				width: 30%;
				height: 140px;
				border-radius: 10px;
			}
		}

		.more-tour-img-button {
			height: 27px;
			width: 260px;
			border-radius: 10px;
			margin-left: 23%;
		}
	}
}


.tour-info-and-reservation {
	display: flex;
	margin-top: 20px;
}

.tour-info {
	width: 57%;

	.main-tour-info {
		div:nth-child(1) {
			font-size: 22px;
		}
	
		div:nth-child(2) {
			font-size: 16px;
			margin-top: 6px;
		}
	}
	
	.tour-hotel-stars {
		margin-top: 8px;
		width: 100%;
		display: flex;
		column-gap: 10px;
	}

	.tour-nutrition-type {
		margin-top: 15px;
		text-align: justify;
		line-height: 25px;
		padding-bottom: 30px;
		border-bottom: 1px solid $light-grey-color;
	}

	.tour-desription {
		margin-top: 25px;
		text-align: justify;
		padding-bottom: 25px;
		line-height: 25px;
	}
	
	.tour-characteristic {
		border-top: 1px solid $light-grey-color;
		padding-top: 25px;
		padding-bottom: 25px;
		display: flex;
	
		> div:nth-child(1) {
			width: 30%;
		}
	
		> div:nth-child(2) ul {
			margin-top: 0;
			list-style: none;
		}
	}
}

.tour-review {
	width: 100%;

	.tour-review-input-and-send-button {
		width: 100%;
		display:  flex;
		column-gap: 1%;
		
		>input {
			width: 87%;
			height: 25px;
			font-size: 18px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $light-grey-color;
		}

		>button {
			height: 30px;
			width: 12%;
			background-color: rgb(60, 80, 254);
			color: white;
			border-radius: 10px;
			border: none;
			font-size: 14px;
		}
	}

	.tour-review-list {
		.tour-review-card {
			.tour-review-card-delete-button {
				position: absolute;
				margin-left: 72%;
				margin-top: 6px;
				width: 18px;
				padding: 0px;
				border: none;
				background-color: white;

				img {
					width: 100%;
					height: 100%;
					background-color: white;
				}
			}
			
			margin-top: 15px;
			border-bottom: 1px solid $light-grey-color;
			padding-bottom: 5px;

			.tour-review-card-user {
				font-size: 18px;
			}

			.tour-review-card-text {
				margin-top: 5px;
				font-size: 17px;
			}
		}
	}
}

.booking-menu {
	width: 27%;
	height: 480px;
	border: 1px solid black;
	position: absolute;
	margin-left: 47%;
	margin-top: 7px;
	border-radius: 10px;

	.tour-price-and-seats-number {
		display: flex;
		justify-content: space-between;

		.tour-price {
			margin-left: 26px;
			margin-top: 22px;
	
			b {
				font-size: 22px;
			}
	
			span {
				font-size: 14px;
				margin-left: 3px;
			}
		}
		
		.tour-seats-number {
			margin-right: 44px;
			margin-top: 32px;
			font-size: 14px;
			color: $dark-grey-color;

		}
	}
	

	.main-booking-parametrs {
		width: 100%;
		font-size: 14px;
		border-collapse: collapse;

		td {
			padding: 10px 20px;
		}

		select,
		input[type='date'] {
			margin-top: 3px;
			color: $grey-color;
			border: none;
			font-size: 14px;
		}

		select {
			margin-right: 8px;
		}
	}

	.main-booking-parametrs-container {
		border-radius: 15px;
		overflow: hidden;
		border: 1px solid black;
		width: 80%;
		margin-top: 50px;
		margin-left: 40px;
		margin-right: 40px;
		height: 115px;
	}

	.destination {
		margin-top: 3px;
		color: $grey-color;
		border: none;
		font-size: 14px;
	}

	.people-count {
		display: flex;
		width: 50%;
		margin-top: 18px;
		margin-left: 160px;

		input[type='number'] {
			width: 40px;
			margin-left: auto;
			border-radius: 5px;
			border: 1px solid black;
		}
	}

	.tour-application-button {
		width: 80%;
		height: 45px;
		margin-left: 40px;
		margin-top: 15px;
		border-radius: 10px;
		font-size: 16px;
		color: white;
		border: none;
		background-color: rgb(231, 51, 81);
	}

	.routes-info {
		margin-top: 40px;
	
		> div {
			height: 34px;
			padding-left: 16%;
			padding-right: 16%;
			display: flex;
	
			img {
				margin-top: 1px;
				height: 100%;
			}
	
			.route-date-and-time {
				margin-left: 7%;
	
				> div:nth-child(1) {
					font-size: 13px;
				}
	
				> div:nth-child(2) {
					margin-top: 2px;
					font-size: 10px;
					color: $grey-color;
				}

				> div:nth-child(3) {
					font-size: 10px;
					color: $grey-color;
				}
			}
	
			.route-city-and-duration {
				margin-left: 8%;
	
				> div:nth-child(1) {
					font-size: 14px;
				}
			}
	
			&:nth-child(2) {
				margin-top: 30px;
	
				img {
					transform: rotateY(180deg);
				}
			}
		}
	}
	
}

.tour-card-for-editor {
    height: 395px;
    width: 320px;
    position: relative;

    .tour-card-for-editor-delete-button {
        margin-left: 90%;
        margin-top: 10px;
		width: 20px;
		height: 20px;
		border: none;
		padding: 0px;
        position: absolute;
        z-index: 1001;
        background-color: transparent;
        
		img {
			width: 100%;
			height: 100%;
		}
    }

    .tour-card-for-editor-img {
        height: 75%;
        width: 100%;
        border-radius: 15px;
    }

    .tour-card-for-editor-info {
        .tour-card-for-edito-name {
            margin-top: 4px;
            font-size: 16px;
            width: 80%;
        }

        .tour-card-for-editor-country-and-city {
            font-size: 14px;
            margin-top: 5px;
            color: $dark-grey-color;
        }

        .tour-card-for-editor-hotel-stars {
            margin-top: 5px;
            display: flex;
            width: 40%;
            column-gap: 8px;

            img {
                height: 18px;
            }
        }
    }
}