@import './variabels/colors.scss';

.tour-card-for-editor {
    height: 395px;
    width: 320px;
    position: relative;

    .tour-card-for-editor-delete-button {
        margin-left: 90%;
        margin-top: 10px;
		width: 20px;
		height: 20px;
		border: none;
		padding: 0px;
        position: absolute;
        z-index: 1001;
        background-color: transparent;
        
		img {
			width: 100%;
			height: 100%;
		}
    }

    .tour-card-for-editor-img {
        height: 75%;
        width: 100%;
        border-radius: 15px;
    }

    .tour-card-for-editor-info {
        .tour-card-for-edito-name {
            margin-top: 4px;
            font-size: 16px;
            width: 80%;
        }

        .tour-card-for-editor-country-and-city {
            font-size: 14px;
            margin-top: 5px;
            color: $dark-grey-color;
        }

        .tour-card-for-editor-hotel-stars {
            margin-top: 5px;
            display: flex;
            width: 40%;
            column-gap: 8px;

            img {
                height: 18px;
            }
        }
    }
}