@import './variabels/colors.scss';

.tour-images-and-name {
	height: 450px;
	display: flex;
	width: 100%;
	column-gap: 2%;

	.tour-name-and-main-photo {
		width: 47.5%;

		.tour-name-and-mark {
			display: flex;
			height: 70px;
		
			p {
				font-size: 22px;
			}
		
			div {
				font-size: 16px;
				margin-left: auto;
				margin-top: 1%;
				padding: 10px 16px 8px 16px;
				height: 30%;
				color: white;
				border-radius: 8px;
			}
		}
	
		.main-tour-photo {
			width: 100%;
			height: 84%;
			border-radius: 12px;
	
			img {
				width: 100%;
				height: 100%;
				border-radius: 12px;
			}
		}
	}

	.other-tour-photos-and-controller {
		width: 50%;
		margin-top: 33px;

		.tour-photos-controller {
			width: 100%;
			display: flex;
			column-gap: 1.5%;

			>button:nth-child(1) {
				height: 32px;
				width: 32%;
				border-radius: 8px;
				border: none;
				background-color: $blue-color;
				margin-top: 2px;

				b {
					font-size: 13px;
					color: white;
				}
			}

			>button:nth-child(2) {
				height: 32px;
				width: 33%;
				border-radius: 8px;
				border: none;
				background-color: $green-color;
				margin-top: 2px;

				b {
					font-size: 13px;
					color: white;
				}
			}
		}
		
		.other-tour-photos {
			width: 100%;
			height: 75%;
			margin-top: 15px;

			div {
				display: flex;
				flex-wrap: wrap;
				column-gap: 1%;
				row-gap: 3%;
				height: 88%;
				align-items: stretch;

				img {
					width: 32.66%;
					height: 150px;
					border-radius: 8px;
				}
			}

			.more-tour-photos-button {
				height: 27px;
				width: 260px;
				margin-top: 52px;
				border-radius: 10px;
				margin-left: 27.5%;
				border: 1px solid black;
			}
		}

		.tour-map {
			width: 100%;
			height: 87%;
			margin-top: 15px;
			border-radius: 12px;
		}
	}
}

.tour-images {
	height: 375px;
	display: flex;
	width: 100%;
	column-gap: 3%;

	.main-tour-img {
		width: 47%;
		border-radius: 15px;
	}

	.images-and-map {
		width: 50%;

		.select-tour-images-or-map {
			width: 100%;
			display: flex;
			column-gap: 1.5%;

			button {
				height: 28px;
				width: 90px;
				border-radius: 8px;
				border: 1px solid black;
				margin-top: 9px;

				&:nth-child(1) {
					margin-left: 1%;
				}
			}
		}
		
		.other-tour-images {
			width: 100%;
			height: 88%;
			padding-top: 10px;

			div {
				display: flex;
				flex-wrap: wrap;
				column-gap: 1.3%;
				row-gap: 2%;
				height: 88%;
				align-items: stretch;

				img {
					width: 32%;
					height: 140px;
					border-radius: 8px;
				}
			}

			.more-tour-images-button {
				height: 27px;
				width: 260px;
				border-radius: 10px;
				margin-left: 26%;
				margin-top: 8px;
				border: 1px solid  black;
			}
		}

		.tour-map {
			border: 1px solid black;
			width: 100%;
			height: 88%;
			padding-top: 10px;
		}
	}
}


.tour-info-and-reservation {
	display: flex;
	margin-top: 20px;
}

.tour-info {
	width: 57%;

	.main-tour-info {
		padding-left: 3px;
		>div:nth-child(1) {
			font-size: 22px;
		}
	
		.tour-direction {
			font-size: 16px;
			margin-top: 6px;
			display: flex;
			
			img {
				height: 36px;
				margin-left: 24px;
				border-radius: 4px;
			}
		}
	}
	
	.tour-hotel-stars {
		margin-top: 8px;
		font-size: 28px;
	}

	.tour-nutrition-type {
		margin-top: 15px;
		text-align: justify;
		padding-bottom: 30px;
		border-bottom: 1px solid $light-grey-color;
		display: flex;

		.tour-nutrition-type-text {
			margin-top: 8px;
			margin-left: 8px;
			font-size: 18px;
		}
	}

	.tour-desription {
		margin-top: 25px;
		text-align: justify;
		padding-bottom: 25px;
		line-height: 25px;
	}
	
	.tour-characteristic-group {
		border-top: 1px solid $light-grey-color;
		padding-top: 25px;
		padding-bottom: 25px;
		display: flex;
	
		> div:nth-child(1) {
			width: 30%;
		}
	
		> div:nth-child(2) ul {
			margin-top: 0;
			list-style: none;

			>li {
				margin-top: 5px;
			}

			>li:first-child {
				margin-top: 0px;
			}
		}
	}
}

.tour-review {
	width: 100%;

	.tour-review-input-and-send-button {
		width: 100%;
		display:  flex;
		column-gap: 1%;
		
		>input {
			width: 87%;
			height: 25px;
			font-size: 18px;
			border-top: none;
			border-left: none;
			border-right: none;
			border-bottom: 1px solid $light-grey-color;
		}

		>button {
			height: 30px;
			width: 12%;
			background-color: rgb(60, 80, 254);
			color: white;
			border-radius: 10px;
			border: none;
			font-size: 14px;
		}
	}

	.tour-review-list {
		.tour-review-card {
			.tour-review-card-delete-button {
				position: absolute;
				margin-left: 72%;
				margin-top: 6px;
				width: 18px;
				padding: 0px;
				border: none;
				background-color: white;

				img {
					width: 100%;
					height: 100%;
					background-color: white;
				}
			}
			
			margin-top: 15px;
			border-bottom: 1px solid $light-grey-color;
			padding-bottom: 5px;

			.tour-review-card-user {
				font-size: 18px;
			}

			.tour-review-card-text {
				margin-top: 5px;
				font-size: 17px;
			}
		}
	}
}

.booking-menu {
	width: 27%;
	height: 480px;
	border: 1px solid black;
	position: absolute;
	margin-left: 47%;
	margin-top: 30px;
	border-radius: 10px;

	.tour-price-and-seats-number {
		display: flex;
		justify-content: space-between;

		.tour-price {
			margin-left: 26px;
			margin-top: 22px;
	
			b {
				font-size: 22px;
			}
	
			span {
				font-size: 14px;
				margin-left: 3px;
			}
		}
		
		.tour-seats-number {
			margin-right: 44px;
			margin-top: 32px;
			font-size: 14px;
			color: $dark-grey-color;

		}
	}
	

	.main-booking-parametrs {
		width: 100%;
		font-size: 14px;
		border-collapse: collapse;

		td {
			padding: 10px 20px;
		}

		select,
		input[type='date'] {
			margin-top: 3px;
			color: $grey-color;
			border: none;
			font-size: 14px;
		}

		select {
			margin-right: 8px;
		}
	}

	.main-booking-parametrs-container {
		border-radius: 12px;
		overflow: hidden;
		border: 1px solid black;
		width: 80%;
		margin-top: 50px;
		margin-left: 40px;
		margin-right: 40px;
		height: 115px;
	}

	.destination {
		margin-top: 3px;
		color: $grey-color;
		border: none;
		font-size: 14px;
	}

	.people-count {
		display: flex;
		width: 50%;
		margin-top: 18px;
		margin-left: 160px;

		input[type='number'] {
			width: 40px;
			margin-left: auto;
			border-radius: 5px;
			border: 1px solid black;
		}
	}

	.tour-application-button {
		width: 80%;
		height: 45px;
		margin-left: 40px;
		margin-top: 45px;
		border-radius: 10px;
		font-size: 16px;
		color: white;
		border: none;
		background-color: rgb(231, 51, 81);
	}

	.routes-info {
		margin-top: 40px;
	
		> div {
			height: 34px;
			padding-left: 16%;
			padding-right: 16%;
			display: flex;
	
			img {
				margin-top: 1px;
				height: 100%;
			}
	
			.route-date-and-time {
				margin-left: 7%;
	
				> div:nth-child(1) {
					font-size: 13px;
				}
	
				> div:nth-child(2) {
					margin-top: 2px;
					font-size: 10px;
					color: $grey-color;
				}

				> div:nth-child(3) {
					font-size: 10px;
					color: $grey-color;
				}
			}
	
			.route-city-and-duration {
				margin-left: 8%;
	
				> div:nth-child(1) {
					font-size: 14px;
				}
			}
	
			&:nth-child(2) {
				margin-top: 30px;
	
				img {
					transform: rotateY(180deg);
				}
			}
		}
	}
	
}

.sent-booking-form-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sent-booking-form {
	//Вынести
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1002; // На всякий случай
	width: 600px;
	text-align: center;

	.close-sent-booking-form-button {
		margin-left: 97%;
		width: 20px;
		height: 20px;
		border: none;
		background-color: white;
		padding: 0px;

		img {
			width: 100%;
			height: 100%;
		}
	}

	h2 {
		margin: 0px;
	}

	h3 {
		margin: 5px 0px 0px 10px;
		text-align: left;
		margin-bottom: 5px;
	}

	hr {
		width: 100%;
		margin-bottom: 0px;
		margin-top: 0px;
	}

	
	
	select {
		font-size: 18px;
		margin-top: 3px;
		width: 100%;
		height: 40px;
		border: 1px solid $grey-color;
		border-radius: 5px;
	}

	.parameter-name {
		text-align: left;
		font-size: 16px;
		margin-left: 10px;
	}

	.sent-booking-form-room-types {
		margin-top: 15px;
		
		.table-wrapper {
			max-height: 170px;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: $light-grey-color transparent;

			table {
				width: 100%;
				border-collapse: collapse;
				border: none;
				
			  }
			  
			  th, td {
				border: none;
				padding: 8px;
				text-align: center;
			  }
			  
			  th {
				font-weight: bold;
			  }
	
	
			  
			  td:first-child {
				color: gray;
				font-size: 20px;
			  }
	
			  td:nth-child(1), th:nth-child(1) {
				width: 60px;
			  }
	
			  td:nth-child(2), th:nth-child(2) {
				text-align: left;
				padding-left: 0px;
			  }
	
			  td:nth-child(3), th:nth-child(3){
				padding-left: 0px;
				padding-right: 0px;
				width: 170px;
			  }
	
			  td:nth-child(4), th:nth-child(4) {
				padding-left: 0px;
				padding-right: 0px;
				width: 46px;
			  }
	
			
			 .booking-form-room-types-number {
				display: flex;
				align-items: center;
				justify-content: center;
	
				button {
					border: none;
					background-color: red;
					border-radius: 100%;
					padding: 0px;
					cursor: pointer;
					color: white;
					height: 20px;
					width: 20px;
					font-size: 20px;
				}
				
				.add-room-type-button {
					background-color: $green-color;
				  }
		
				.remove-room-type-button {
					background-color: $red-color;
					margin-left: 5px;
				}
		
				.booking-form-room-types-number-input {
					margin-left: 10px;
					width: 60px;
				  }
			  }
			  
			  .room-type-price {
				font-weight: bold;
			  }
	
		}
	}

	.booking-form-seats {
		padding-left: 15px;
		margin-top: 10px;
		margin-bottom: 10px;
		display: flex;

		>div:nth-child(1) {
			margin-top: 4px;
		}

		.booking-form-seats-input {
			margin-left: 10px;
			width: 60px;
			text-align: center;
			// height: 25px;
		}
	}

	.booking-form-checkbox {
		display: flex;
		justify-content: flex-start;
		margin-left: 6px;

		& .MuiFormControlLabel-label {
			font-size: 15px;
		}
	}


	.booking-form-comment {
		margin-top: 5px;
		text-align: justify;
		font-size: 16px;
		line-height: 25px;
		width: 100%;
	
		.booking-form-commentn-input {
			font-size: 16px;
			width: 100%;
		}
	}

	.booking-form-disclaimer {
		color: $grey-color;
		text-align: left;
		font-size: 14px;
		margin-top: 7px;
	}

	.booking-form-final-price {
		font-size: 16px;

		b {
			font-size: 18px;
		}
	}

	.sent-booking-form-controller{
		//Вынести
		display: flex;
		justify-content: space-between;
		margin-top: 7px;

		>button {
			height: 45px;
			font-size: 17px;
		}

		>button:nth-child(1) {
			background-color: white;
			border: none;
		}

		>button:nth-child(2) {
			width: 240px;
			color: white;
			background-color: black;
			border: none;
			border-radius: 20px;
		}
	}
}

.tour-card-for-editor {
    height: 395px;
    width: 320px;
    position: relative;

    .tour-card-for-editor-delete-button {
        margin-left: 90%;
        margin-top: 10px;
		width: 20px;
		height: 20px;
		border: none;
		padding: 0px;
        position: absolute;
        z-index: 1001;
        background-color: transparent;
        
		img {
			width: 100%;
			height: 100%;
		}
    }

    .tour-card-for-editor-img {
        height: 75%;
        width: 100%;
        border-radius: 15px;
    }

    .tour-card-for-editor-info {
        .tour-card-for-edito-name {
            margin-top: 4px;
            font-size: 16px;
            width: 80%;
        }

        .tour-card-for-editor-country-and-city {
            font-size: 14px;
            margin-top: 5px;
            color: $dark-grey-color;
        }

        .tour-card-for-editor-hotel-stars {
            margin-top: 5px;
            display: flex;
            width: 40%;
            column-gap: 8px;

            img {
                height: 18px;
            }
        }
    }
}