@import './variabels/colors.scss';
@import './mixins/tour-type.scss';

.tour-types-nav {
	height: 100px;
	display: flex;
	justify-content: space-between;

	.tour-type {
		@include tour-type(57px, 12px, 5px);
		margin-top: 20px;
	}

	.filter-button {
		margin-top: 20px;
		height: 50%;
		width: 170px;
		display: flex;
		border: 1px solid $grey-color;
		border-radius: 12px;
		background-color: white;

		img {
			height: 40%;
			margin: auto 0 auto 12%;
		}

		div {
			margin: auto 0 auto 30px;
			font-size: 14px;
		}
	}
}

.tours-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 1.7%;
	row-gap: 20px;
	width: 100%;

	.tour-card {
		height: 395px;
		width: 320px;

		.tour-card-img {
			height: 75%;
			width: 100%;
			border-radius: 15px;
		}

        .tour-card-info {
            >div:nth-child(1) {
                display: flex;
                height: 35px;
                margin-top: 4px;
    
                .tour-card-name {
                    font-size: 16px;
                    width: 80%;
                }
    
                .tour-card-mark {
                    font-size: 14px;
                    margin-left: auto;
                    background-color: #d50000;
                    padding: 5px 10px;
                    height: 40%;
                    color: white;
                    border-radius: 5px;
                    margin-bottom: 5px;
                }
            }
    
            .tour-card-country-and-city {
                font-size: 14px;
                margin-top: 5px;
                color: $dark-grey-color;
            }
    
            >div:nth-child(3) {
                margin-top: 5px;
                display: flex;
    
                .tour-card-hotel-stars {
                    display: flex;
                    width: 40%;
                    column-gap: 8px;
    
                    img {
                        height: 18px;
                    }
                }
    
                .tour-card-price {
                    margin-left: auto;
    
                    b {
                        font-size: 18px;
                    }
    
                    span {
                        font-size: 12px;
                        margin-left: 3px;
                    }
                }
            }
        }
	}
}

.filters-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); // Затемнение фона
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000; // Модальное окно впереди всех элементов
}

.filters {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	z-index: 1001; // На всякий случай
	width: 300px;
	text-align: center;
}
