@import './variabels/colors.scss'; 

.change-show-users-list {
	display: flex;
	justify-content: center;
	column-gap: 2%;
	height: 80px;
	justify-self: center;

	button {
		width: 160px;
		height: 30px;
		border-radius: 16px;
		font-size: 14px;
		background-color: white;
		border: none;
		margin-top: 2.5%;
	}

	button:hover:nth-child(1)  {
		background-color: $yellow-color; 
		color: white;
	}

	button:hover:nth-child(2)  {
		background-color: $green-color; 
		color: white;
	}

	button:hover:nth-child(3)  {
		background-color: $red-color; 
		color: white;
	}
}

.users-list {
	padding-left: 8%;
	padding-right: 8%;

	.user-card {
		display: block;
		position: relative;
		height: 180px;
		padding-top: 20px;
		padding-bottom: 20px;
		width: 100%;
		border-bottom: 1px solid $light-grey-color;

		.user-card-img {
			position: absolute;
			height: 180px;
			width: 180px;
			border-radius: 10px;
		}

		.user-card-name {
			position: absolute;
			font-size: 20px;
			left: $indent-from-left-on-card;
			top: 27px;
		}

		.user-card-contact-info {
			position: absolute;
			font-size: 14px;
			left: $indent-from-left-on-card;
			top: 80px;
			color: $dark-grey-color;

			>div {
				margin-top: 3px;
			}
		}

		.user-card-hotel-stars {
			position: absolute;
			display: flex;
			left: $indent-from-left-on-card;
			top: 137px;

			display: flex;
			column-gap: 8px;

			img {
				height: 18px;
			}
		}

		.tour-card-price {
			b {
				font-size: 24px;
			}
			span {
				font-size: 14px;
			}
			position: absolute;
			right: 0px;
			top: 40%;
		}

		.user-card-status {
			position: absolute;
			font-size: 13px;
			background-color: $green-color;
			left: $indent-from-left-on-card;
			bottom: 22px;
			height: 22px;
			padding-top: 6px;
			width: 160px;
			text-align: center;
			border-radius: 14px;
			color: white;
		}

		.user-card-change-role {
			position: absolute;
			font-size: 13px;
			background-color: $blue-color;
			left: $indent-from-left-on-card + 170px;
			bottom: 22px;
			height: 22px;
			padding-top: 6px;
			width: 140px;
			text-align: center;
			border-radius: 10px;
			color: white;
		}

		.user-card-roles {
			position: absolute;
			display: flex;
			left: $indent-from-left-on-card;
			bottom: 22px;
			height: 22px;
			color: white;
			width: 580px;
			justify-content: space-between;

			>div {
				background-color: $orange-color;
				height: 100%;
				text-align: center;
				border-radius: 10px;
				width: 140px;
				font-size: 13px;
				padding-top: 6px;
			}

			>div:nth-last-child(1) {
				background-color: $red-color;
				
			}
		}

		.user-card-confirmation {
			position: absolute;
			font-size: 14px;
			background-color: $green-color;
			left: 800px;
			bottom: 20px;
			height: 24px;
			padding-top: 8px;
			width: 180px;
			text-align: center;
			border-radius: 14px;
			color: white;
		}

		.user-card-user-info {
			position: absolute;
			font-size: 15px;
			left: $indent-from-left-on-card;
			bottom: 22px;
			height: 22px;
			padding-top: 6px;
		}

		.user-card-delete-button {
			position: absolute;
			top: 10px;
			right: 0px;
			width: 35px;
			height: 35px;
			background-color: white;
			border: none;
			z-index: 1001;

			img {
				width: 100%;
			}
		}
	}
}
